node_modules
.env

/coverage
./coverage.json

cache
typechain
scripts
.prettierrc
.prettierignore
.npmignore
.solhintignore
.eslintignore
.eslintrc.js
.solhint.json

hardhat.config.ts
package-lock.json
package.json
tenderly.yaml
tsconfig.json
artifacts

tsconfig.json

